* {
  box-sizing: border-box;
}

body {
  background-color: #FAEEE2;
}

img {
  max-width: 250px;
  max-height: 250px;
  border: 1px #E1DFDE solid;
  margin-top: 1em;
}

nav {
  background-color: #7291F3;
}

/* .navbar-brand {
  display: block;
  float: left;
  color: #ffffff;
  font-weight: bold;
} */

.form-inline button {
  /* margin-right: 0.5em; */
  /* border: 1.5px solid; */
}

.home-container {
  margin: 1em;
}

header {
  text-align: center;
  margin: 1em;
}

.main {
  /* margin: 1em; */
}

section {
  margin-bottom: 3em;
}

#avg-moods {
  display: flex;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  padding: 0 1em 0 1em;
}

#avg-moods p {
  display: block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.5em;
}

#avg-moods .div {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.button-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 3em;
  /* margin-bottom: 4em; */
  /* width: 100vw; */
}

.last-reported-container {
  padding: 1.5em;
  margin: 1.5em;
  background-color: #ffffff;
}

.last-reported {
  padding: 1em;
  border: 1px #6D6B69 solid;
  /* color: #6D6B69; */
}

.last-reported .row {
  display: flex;
  align-items: center;
  padding: 0 1em 1em 1em;
}

#last-reported-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.last-reported h5 {
  display: flex;
  float: left;
  margin-right: 0.5em;
}

.lastData p {
  text-align: center;
}

/* .last-reported span {
  font-size: 1em;
} */

.report-container {
  display: none;
  padding: 1.5em;
  background-color: #ffffff;
  margin: 2em;
}

.report-container h2 {
  color: #6D6B69;
  text-align: center;
  margin: 1em 0 1em 0;
}

.border {
  border: 1px #6D6B69 solid;
  padding: 1em;
}

#form {
  display: flex;
  /* justify-content: center; */
  text-align: left;
  font-weight: bold;
  /* padding: 0 2.5em 0 2.5em; */
  padding-left: 3em;
  padding-bottom: 1em;
}

.report-container .row {
  margin-top: 5em;
  text-align: center;
}

h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  /* font-family: "Arial Black", Gadget, sans-serif; */
  font-size: 1.5em;
  margin-bottom: 1em;
  width: 100%;
}

.report-container .row .div {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.report-container p {
  display: block;
}

.report-container button {
  margin-top: 2em;
}

.selected {
  border: 1.5px #ABD6F9 solid;
}

.submit {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  color: #6D6B69;
  width: 100%;
  padding: 1.5em;
  bottom: 0;
}

/*
@media only screen and (max-width:620px) {
  /* For mobile phones: */
/*
  .menu, .main, .right {
    width:100%;
  }
}
*/
